# **Tutorial\#1: Twitter API Config**

In [ ]:
# API Key:        MM2gPHXgHgpQ3VjVTuxy4JvnP
# API Secret:     EZEgJrpVeLLdmDIjXmvS0WAfCDetLZN8yfIxOJURiNe0NHsZDm

# Bearer Token:   AAAAAAAAAAAAAAAAAAAAAG4bgAEAAAAAxuXvGZfK4zpNu4ATzIDN0aZxKn8%3D4cmJ6ISkOlEGpesm7J6MUXfC21Wa5oiiSIR3niHGrizQr4Bz4m

# Access Token:   1538924473755537408-qHOakmkKhlENJVERSpse8Asm1rQTCt
# Access Secret:  OLY3TZsCXittGUaveX3aEMogd2c6A5Le0bxBbpTq0SKJ8

# **Tutorial\#2: Tweepy Walkthrough**

## Set up environment

In [ ]:
!pip install tweepy==4.9.0

In [1]:
import tweepy
import config
import pandas as pd
import emoji

print(config.API_KEY)

XoswIcOpXdd5RLOiMhS9cHBQs

## Tweepy - API Class (Twitter API v1.1)

### Authentication

In [3]:
# Authenticate with Twitter OAuth 1.0a User Context
auth = tweepy.OAuth1UserHandler(
   config.API_KEY,                                           # API / Consumer Key here
   config.API_SECRET,                                        # API / Consumer Secret here
   config.ACCESS_TOKEN,                                      # Access Token here
   config.ACCESS_TOKEN_SECRET                                # Access Token Secret here
)
api = tweepy.API(auth, wait_on_rate_limit=True)

In [53]:
import datetime

query_crypto = 'cryptocurrency OR crypto'
query_bitcoin = '#bitcoin -filter:retweets'
query_ether = 'Ethereum OR Ether'

end_date = datetime.datetime(2023, 4, 20, 13, 00, 00)
print(end_date)
tweets = tweepy.Cursor(api.search_tweets, q=query_bitcoin, until=end_date, lang='en', count=100).items(500)

data = []
for tweet in tweets:
    date = tweet.created_at
    content = tweet.text
    content_no_emoji = emoji.replace_emoji(content, replace=" ")
    print(date)
    data.append([date, content_no_emoji,"crypto"])

2023-04-20 13:00:00
2023-04-19 23:40:02+00:00
2023-04-19 23:05:02+00:00
2023-04-19 23:01:40+00:00
2023-04-19 17:00:18+00:00
2023-04-19 16:13:30+00:00
2023-04-19 15:01:00+00:00
2023-04-19 14:00:42+00:00
2023-04-19 13:44:04+00:00
2023-04-19 13:00:58+00:00
2023-04-19 04:45:03+00:00
2023-04-19 04:35:01+00:00
2023-04-19 03:00:01+00:00
2023-04-19 02:00:53+00:00
2023-04-19 01:00:39+00:00
2023-04-18 17:00:20+00:00
2023-04-18 14:01:03+00:00
2023-04-18 14:00:10+00:00
2023-04-18 13:14:04+00:00
2023-04-18 13:01:04+00:00
2023-04-18 13:00:50+00:00
2023-04-18 11:02:04+00:00
2023-04-18 11:00:56+00:00
2023-04-18 10:30:02+00:00
2023-04-18 06:01:03+00:00
2023-04-18 03:33:47+00:00
2023-04-18 03:30:01+00:00
2023-04-17 20:00:13+00:00
2023-04-17 17:26:05+00:00
2023-04-17 17:00:41+00:00
2023-04-17 16:08:03+00:00
2023-04-17 16:00:47+00:00
2023-04-17 14:14:05+00:00
2023-04-17 14:00:58+00:00
2023-04-17 13:26:05+00:00
2023-04-17 13:01:15+00:00
2023-04-17 12:30:03+00:00
2023-04-17 07:00:57+00:00
2023-04-17 06:00:57+00:00
2023-04-17 05:42:22+00:00
2023-04-17 05:35:02+00:00
2023-04-17 05:00:54+00:00
2023-04-17 04:14:26+00:00
2023-04-17 04:00:53+00:00
2023-04-17 03:00:53+00:00
2023-04-17 02:22:17+00:00
2023-04-17 00:52:02+00:00
2023-04-17 00:40:32+00:00
2023-04-17 00:40:32+00:00
2023-04-17 00:29:14+00:00
2023-04-17 00:29:14+00:00
2023-04-17 00:16:57+00:00
2023-04-16 22:05:04+00:00
2023-04-16 18:56:03+00:00
2023-04-16 18:00:35+00:00
2023-04-16 17:00:39+00:00
2023-04-16 17:00:14+00:00
2023-04-16 16:00:58+00:00
2023-04-16 15:00:53+00:00
2023-04-16 14:51:26+00:00
2023-04-16 13:33:04+00:00
2023-04-16 13:03:04+00:00
2023-04-16 13:00:36+00:00
2023-04-16 11:00:59+00:00
2023-04-16 10:00:35+00:00
2023-04-16 09:14:03+00:00
2023-04-16 09:00:59+00:00
2023-04-16 08:00:41+00:00
2023-04-16 07:06:17+00:00
2023-04-16 06:10:02+00:00
2023-04-16 05:25:00+00:00
2023-04-16 04:00:55+00:00
2023-04-16 03:01:13+00:00
2023-04-16 01:00:55+00:00
2023-04-16 00:15:16+00:00
2023-04-16 00:14:27+00:00
2023-04-16 00:14:03+00:00
2023-04-16 00:13:26+00:00
2023-04-15 23:50:02+00:00
2023-04-15 19:46:04+00:00
2023-04-15 18:01:00+00:00
2023-04-15 17:01:05+00:00
2023-04-15 17:00:31+00:00
2023-04-15 15:00:37+00:00
2023-04-15 14:00:56+00:00
2023-04-15 13:20:06+00:00
2023-04-15 13:00:59+00:00
2023-04-15 12:00:40+00:00
2023-04-15 11:59:52+00:00
2023-04-15 11:20:04+00:00
2023-04-15 11:00:53+00:00
2023-04-15 10:01:00+00:00
2023-04-15 09:00:51+00:00
2023-04-15 08:00:53+00:00
2023-04-15 07:17:04+00:00
2023-04-15 07:01:07+00:00
2023-04-15 07:00:31+00:00
2023-04-15 07:00:21+00:00
2023-04-15 06:00:43+00:00
2023-04-15 05:00:54+00:00
2023-04-15 04:01:09+00:00
2023-04-15 01:00:57+00:00
2023-04-15 00:01:10+00:00
2023-04-14 23:54:26+00:00
2023-04-14 23:01:02+00:00
2023-04-14 21:00:39+00:00
2023-04-14 20:00:57+00:00
2023-04-14 18:35:06+00:00
2023-04-14 17:00:31+00:00
2023-04-14 16:01:03+00:00
2023-04-14 15:41:27+00:00
2023-04-14 15:01:09+00:00
2023-04-14 14:00:53+00:00
2023-04-14 13:40:06+00:00
2023-04-14 13:19:03+00:00
2023-04-14 13:01:02+00:00
2023-04-14 11:46:04+00:00
2023-04-14 11:00:52+00:00
2023-04-14 10:01:05+00:00
2023-04-14 09:44:03+00:00
2023-04-14 09:00:58+00:00
2023-04-14 08:00:58+00:00
2023-04-14 07:04:18+00:00
2023-04-14 04:00:43+00:00
2023-04-14 04:00:39+00:00
2023-04-14 03:30:04+00:00
2023-04-14 03:00:41+00:00
2023-04-14 03:00:06+00:00
2023-04-14 03:00:03+00:00
2023-04-14 02:30:04+00:00
2023-04-14 02:00:37+00:00
2023-04-14 02:00:21+00:00
2023-04-14 02:00:03+00:00
2023-04-14 01:30:04+00:00
2023-04-14 01:00:54+00:00
2023-04-14 01:00:03+00:00
2023-04-14 01:00:03+00:00
2023-04-14 00:47:55+00:00
2023-04-14 00:30:03+00:00
2023-04-14 00:00:21+00:00
2023-04-14 00:00:03+00:00
2023-04-13 23:30:04+00:00
2023-04-13 23:00:59+00:00
2023-04-13 23:00:49+00:00
2023-04-13 23:00:48+00:00
2023-04-13 23:00:04+00:00
2023-04-13 23:00:03+00:00
2023-04-13 22:30:05+00:00
2023-04-13 22:00:44+00:00
2023-04-13 22:00:08+00:00
2023-04-13 22:00:03+00:00
2023-04-13 21:30:05+00:00
2023-04-13 21:01:03+00:00
2023-04-13 21:00:45+00:00
2023-04-13 21:00:04+00:00
2023-04-13 20:30:05+00:00
2023-04-13 20:00:52+00:00
2023-04-13 20:00:43+00:00
2023-04-13 20:00:28+00:00
2023-04-13 20:00:05+00:00
2023-04-13 20:00:03+00:00
2023-04-13 19:30:04+00:00
2023-04-13 19:00:43+00:00
2023-04-13 19:00:05+00:00
2023-04-13 19:00:02+00:00
2023-04-13 18:34:32+00:00
2023-04-13 18:30:05+00:00
2023-04-13 18:01:03+00:00
2023-04-13 18:00:27+00:00
2023-04-13 18:00:03+00:00
2023-04-13 17:30:03+00:00
2023-04-13 17:00:57+00:00
2023-04-13 17:00:35+00:00
2023-04-13 17:00:33+00:00
2023-04-13 17:00:05+00:00
2023-04-13 17:00:03+00:00
2023-04-13 16:30:03+00:00
2023-04-13 16:01:01+00:00
2023-04-13 16:00:43+00:00
2023-04-13 16:00:27+00:00
2023-04-13 16:00:16+00:00
2023-04-13 16:00:10+00:00
2023-04-13 16:00:03+00:00
2023-04-13 15:30:04+00:00
2023-04-13 15:00:53+00:00
2023-04-13 15:00:33+00:00
2023-04-13 15:00:01+00:00
2023-04-13 14:30:03+00:00
2023-04-13 14:00:58+00:00
2023-04-13 14:00:50+00:00
2023-04-13 14:00:02+00:00
2023-04-13 13:50:05+00:00
2023-04-13 13:30:02+00:00
2023-04-13 13:00:55+00:00
2023-04-13 13:00:27+00:00
2023-04-13 13:00:02+00:00
2023-04-13 12:45:02+00:00
2023-04-13 12:30:03+00:00
2023-04-13 12:07:04+00:00
2023-04-13 12:00:58+00:00
2023-04-13 12:00:43+00:00
2023-04-13 12:00:25+00:00
2023-04-13 12:00:06+00:00
2023-04-13 12:00:02+00:00
2023-04-13 11:30:02+00:00
2023-04-13 11:00:57+00:00
2023-04-13 11:00:04+00:00
2023-04-13 11:00:02+00:00
2023-04-13 10:30:03+00:00
2023-04-13 10:00:48+00:00
2023-04-13 10:00:22+00:00
2023-04-13 10:00:02+00:00
2023-04-13 09:30:03+00:00
2023-04-13 09:00:50+00:00
2023-04-13 09:00:16+00:00
2023-04-13 09:00:01+00:00
2023-04-13 08:30:02+00:00
2023-04-13 08:11:00+00:00
2023-04-13 08:00:44+00:00
2023-04-13 08:00:43+00:00
2023-04-13 08:00:41+00:00
2023-04-13 08:00:02+00:00
2023-04-13 08:00:01+00:00
2023-04-13 07:30:03+00:00
2023-04-13 07:00:54+00:00
2023-04-13 07:00:11+00:00
2023-04-13 07:00:02+00:00
2023-04-13 06:51:45+00:00
2023-04-13 06:30:02+00:00
2023-04-13 06:00:54+00:00
2023-04-13 06:00:11+00:00
2023-04-13 06:00:02+00:00
2023-04-13 05:30:02+00:00
2023-04-13 05:17:49+00:00
2023-04-13 05:00:53+00:00
2023-04-13 05:00:45+00:00
2023-04-13 05:00:02+00:00
2023-04-13 04:30:42+00:00
2023-04-13 04:30:04+00:00
2023-04-13 04:30:03+00:00
2023-04-13 04:00:49+00:00
2023-04-13 04:00:43+00:00
2023-04-13 04:00:31+00:00
2023-04-13 04:00:24+00:00
2023-04-13 04:00:07+00:00
2023-04-13 04:00:02+00:00
2023-04-13 03:50:14+00:00
2023-04-13 03:00:56+00:00
2023-04-13 02:00:53+00:00
2023-04-13 01:00:46+00:00
2023-04-13 01:00:09+00:00
2023-04-13 00:47:02+00:00
2023-04-13 00:35:26+00:00
2023-04-13 00:28:25+00:00
2023-04-13 00:28:22+00:00
2023-04-13 00:25:42+00:00
2023-04-13 00:10:01+00:00
2023-04-13 00:00:43+00:00
2023-04-13 00:00:43+00:00
2023-04-12 23:54:38+00:00
2023-04-12 23:41:33+00:00
2023-04-12 23:28:29+00:00
2023-04-12 23:14:44+00:00
2023-04-12 23:01:39+00:00
2023-04-12 22:51:16+00:00
2023-04-12 20:23:02+00:00
2023-04-12 19:42:03+00:00
2023-04-12 17:13:26+00:00
2023-04-12 17:00:10+00:00
2023-04-12 16:20:02+00:00
2023-04-12 13:58:03+00:00
2023-04-12 13:47:03+00:00
2023-04-12 13:05:06+00:00
2023-04-12 13:01:04+00:00
2023-04-12 11:01:24+00:00
2023-04-12 07:13:52+00:00
2023-04-12 06:18:28+00:00
2023-04-12 04:30:03+00:00
2023-04-12 04:10:41+00:00
2023-04-12 04:00:39+00:00
2023-04-12 00:16:34+00:00
2023-04-12 00:14:03+00:00
2023-04-11 23:00:04+00:00
2023-04-11 22:12:04+00:00
2023-04-11 22:01:04+00:00
2023-04-11 21:01:00+00:00
2023-04-11 17:01:01+00:00
2023-04-11 17:00:38+00:00
2023-04-11 16:00:59+00:00
2023-04-11 15:01:01+00:00
2023-04-11 14:01:02+00:00
2023-04-11 13:40:05+00:00
2023-04-11 13:13:03+00:00
2023-04-11 13:03:03+00:00
2023-04-11 13:01:02+00:00
2023-04-11 12:05:02+00:00
2023-04-11 12:00:56+00:00
2023-04-11 11:00:55+00:00
2023-04-11 10:01:05+00:00
2023-04-11 09:21:01+00:00
2023-04-11 09:01:00+00:00
2023-04-11 08:32:25+00:00
2023-04-11 08:00:55+00:00
2023-04-11 07:11:01+00:00
2023-04-11 07:00:49+00:00
2023-04-11 02:00:56+00:00

In [4]:
import datetime

end_date = datetime.date.today()
tweets = []
tweets = tweepy.Cursor(api.search_tweets, q='bitcoin', until=end_date, lang='en', count=100).items()

for tweet in tweets:
    print(tweet.created_at) 
print(tweets)

Rate limit reached. Sleeping for: 800

In [54]:
print(len(data))

305

## store into dataframe

In [55]:
df = pd.DataFrame(data, columns=['date','tweet','type'])
df.head(5)

,date,tweet,type
0,2023-04-19 23:40:02+00:00,Your Surprise!\n: 3.58 %\n$juv : 4.20 %\n$nu :...,crypto
1,2023-04-19 23:05:02+00:00,#HOTUSDT #HOT \nSignal #10 \n\nLast Signal: 9...,crypto
2,2023-04-19 23:01:40+00:00,"- \nBTC price: $29,095 / Â£24,311 \n\n34.37 Nak...",crypto
3,2023-04-19 17:00:18+00:00,1 BTC Price: Bitstamp 29338 USD #BTC #Bitcoin ...,crypto
4,2023-04-19 16:13:30+00:00,"Markets Overview :\n\n#SPX - 4,135.71 (-0.46...",crypto

In [56]:
df.tail(5)

,date,tweet,type
300,2023-04-11 08:32:25+00:00,#Bitcoin giveaway starts now!\n\nWe are giving...,crypto
301,2023-04-11 08:00:55+00:00,"Tue, 11 Apr 2023 08:00:35 GMT - TOP 10 - $B...",crypto
302,2023-04-11 07:11:01+00:00,Let's place your opinions!! Whether Bitcoin US...,crypto
303,2023-04-11 07:00:49+00:00,"Tue, 11 Apr 2023 07:00:36 GMT - TOP 10 - $B...",crypto
304,2023-04-11 02:00:56+00:00,"Tue, 11 Apr 2023 02:00:36 GMT - TOP 10 - $B...",crypto

### save into csv

In [52]:
file_name = "C:\\Users\\ee527\\Desktop\\ELEN-E6889_Crypto_Prediction_With_Tweet\\Stream_Preprocessing\\Twitter\\twitter.csv"
df.to_csv(file_name, encoding='utf-8')

In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\ee527\Desktop\Archive\tweetsfinal3.csv")

print(df)

ParserError: Error tokenizing data. C error: EOF inside string starting at row 883145

In [2]:

lines = []
with open(r"C:\Users\ee527\Desktop\Archive\tweetsfinal3.csv", 'r') as f:
    for l in f:
        lines.append(l)

In [5]:
lines[0:10]

['"Mon Nov 27 17:40:38 EST 2017","RT @daneelproject: Another day, another high score ! We are now listed on https://t.co/4MyxeVXwdT with a score of 4.4/5 ! ðŸ¤©Thank you @ICObeâ€¦","null","null"\n',
 '"Mon Nov 27 17:40:38 EST 2017","RT @BankExProtocol: Be prepared to BKX #tokensale. Answer about wallet you will use for purchase.\n',
 'What wallet is recommended by BANKEX?","null","null"\n',
 '"Mon Nov 27 17:40:38 EST 2017","(Bitcoin Price Analysis: Bitcoin Tests Parabolic Trend After 25% Weekly Growth) has been published on Cryptocurrencâ€¦ https://t.co/XTm5wir17I","null","null"\n',
 '"Mon Nov 27 17:40:37 EST 2017","RT @daneelproject: Daneel uses a specially developed algorithm to help you define the reliability of a cryptocurrency at a specific time. hâ€¦","null","null"\n',
 '"Mon Nov 27 17:40:36 EST 2017","RT @JacBurns_Comext: #Blockchain & Energy: here are the most promising Apps - https://t.co/CjZEgVhFV9\n',
 '\n',
 '#IoT #startups #infosec #fintech #btâ€¦","null","null"\n',
 '"Mon Nov 27 17:40:36 EST 2017","RT @business: Now people are searching for ""buy bitcoin"" more than how to ""buy gold"" https://t.co/qiMk2kgf4p https://t.co/iMG98uMmQj","null","null"\n',
 '"Mon Nov 27 17:40:36 EST 2017","RT @Ce_ne: @ZeusZissou @rogerkver Nope... Unless he apologise for calling Bitcoin with all other names but Bitcoin.","null","null"\n']

In [73]:
lines[883180]

'"Thu Nov 23 23:23:39 EST 2017","RT @korinek_trades: Took a starter in $RCGR - merger rumors and solid SS for potential multi bagger runner ðŸ¤‘ chart looks primed for a BREAKâ€¦","null","null"\n'

In [66]:
for line in lines[883140: 883150]:
    print(line)

"Thu Nov 23 23:23:53 EST 2017","RT @LevelNetwork: LevelNet is able to be integrated into any current cyber-protection solution. Visit https://t.co/8s5nfjFDeH for informatiâ€¦","null","null"

"Thu Nov 23 23:23:50 EST 2017","RT @pierre_rochard: @paulvigna @btc_joe @prestonjbyrne @mikebelshe @jgarzik @nathanielpopper @laurashin The larger narrative is that the CEâ€¦","null","null"

"Thu Nov 23 23:23:50 EST 2017","RT @JonErlichman: Things that did not exist on Thanksgiving 10 years ago:



Uber

Airbnb

Instagram

Snapchat

Bitcoin

iPad

### Make a tweet

In [ ]:
tweet = api.update_status("Hey there!! Courtesy: Tweepy")

### Get tweets from home timeline

In [ ]:
# Get recent tweets from your home timeline
tweets = api.home_timeline(count=5)
for tweet in tweets:
    print(tweet.text,'\n')

### Get your own tweets

In [ ]:
# Get Tweets (recent tweets from your account)
tweets = api.user_timeline(count=2)
for tweet in tweets:
    print(tweet.text,'\n')

In [ ]:
# Tweet object has lots of data. Let's check out the Tweet JSON specs
tweets = api.user_timeline(count=2)
for tweet in tweets:
    print(tweet.created_at)
    print(tweet.id_str)
    print(tweet.text,'\n')

### Delete a tweet

In [ ]:
# Delete a Tweet
to_be_deleted_tweet = api.update_status('Bad Tweet')

In [ ]:
api.destroy_status(to_be_deleted_tweet.id_str)

### Follow someone

In [ ]:
# Follow
api.create_friendship(screen_name='@YouTube')

In [ ]:
# Unfollow
api.destroy_friendship(screen_name='@YouTube')

## Tweepy - Client Class (Twitter API v2.0)

### Authentication

In [ ]:
# !pip install tweepy==4.9.0
# import tweepy

In [ ]:
# Authenticate with Twitter OAuth 2.0 Bearer Token (Application-only)
client = tweepy.Client(bearer_token='AAAAAAAAAAAAAAAAAAAAAISqXwEAAAAAPSBG%2BW8YISXma2Wbc33al00Y2LY%3DUzB8OWxUDXKFS0AQ9ViLYsxPLhJvxD0eTUUYJEo4N8DwuIftum')

### Get recent public tweets on keywords

In [ ]:
# Pull tweets from twitter

query = '#elonmusk -is:retweet lang:en'
tweets = client.search_recent_tweets(query=query, tweet_fields=['context_annotations', 'created_at'], max_results=10)

# Get tweets that contain the hashtag #TypeKeywordHere
# -is:retweet means I don't want retweets
# lang:en is asking for the tweets to be in english

In [ ]:
for tweet in tweets.data:
    print('\n**Tweet Text**\n',tweet.text)