In [ ]:
import numpy as np
import pandas as pd
import math
import sklearn
import sklearn.preprocessing
import datetime
import os
import matplotlib.pyplot as plt
import tensorflow as tf
%matplotlib inline
from sklearn import metrics

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [27]:
# Fetch BTC trade raw data
BTC_raw = pd.read_csv("/content/drive/My Drive/ELEN-E6889/BTC_20220101-20230410.csv")
BTC_raw.columns = ['date', 'close_price', 'open_price', 'high', 'low', 'volume', 'change']
BTC_raw

             date close_price open_price      high       low  volume  change
0    Apr 10, 2023    29,641.0   28,326.5  29,755.4  28,182.9  85.73K   4.64%
1    Apr 09, 2023    28,326.6   27,941.2  28,522.7  27,809.2  39.35K   1.38%
2    Apr 08, 2023    27,941.2   27,910.4  28,153.1  27,863.8  23.73K   0.11%
3    Apr 07, 2023    27,910.4   28,037.6  28,102.5  27,779.4  30.94K  -0.45%
4    Apr 06, 2023    28,036.7   28,173.5  28,173.5  27,734.5  51.29K  -0.49%
..            ...         ...        ...       ...       ...     ...     ...
460  Jan 05, 2022    43,425.9   45,833.1  47,019.4  42,535.1  83.74K  -5.26%
461  Jan 04, 2022    45,837.3   46,435.7  47,505.4  45,602.1  55.59K  -1.28%
462  Jan 03, 2022    46,430.2   47,293.9  47,556.0  45,704.0  41.06K  -1.86%
463  Jan 02, 2022    47,311.8   47,738.7  47,944.9  46,718.2  27.02K  -0.89%
464  Jan 01, 2022    47,738.0   46,217.5  47,917.6  46,217.5  31.24K   3.29%

[465 rows x 7 columns]

In [30]:
# Split the raw data into parts
BTC_basic = BTC_raw[['date', 'close_price', 'open_price']]
BTC_quant = BTC_raw[['date', 'close_price', 'high', 'low', 'volume', 'change']]